<h1>文字コード 演習問題</h2>

<h2>問題 (2進数 => 文字列)</h2>

<div class="result"><%= @result %>です．</div>

<p class="answer">問題: 　　　　<%= @binary_array.join(", ") %></p>
<p class="answer">正解: 　　　　<%= session[:answer][:word] %></p>
<p class="answer">あなたの解答: <%= @user_answer %></p>

<%= link_to '違う問題にチャレンジ', ascii_code_exercises_2_path %>
