<% content_for :title do -%>
  2進数 演習問題
<% end -%>
<h1>2進数 演習問題</h2>

<h2>問題 (2進数 => 10進数)</h2>

<div class="result"><%= @result %>です．</div>

<p class="answer">問題: 　　　　<%= session["binary_number"]["binary"] %></p>
<p class="answer">正解: 　　　　<%= session["binary_number"]["number"] %></p>
<p class="answer">あなたの解答: <%= @user_answer %></p>

<%= link_to '違う問題にチャレンジ', binary_number_exercises_1_path(:nbits => @nbits) %>
