<% content_for :title do -%>
  2進数 演習問題
<% end -%>
<h1>2進数 演習問題</h1>

<h2>問題 (10進数 => 2進数)</h2>

10進数 <div class="decimal"><%= @number %></div> は2進数で表すと（　　）になる．

<p class="notice">※注意：問題文や解答確認画面では便宜上2進数8ビットごとにカンマを表示していますが，解答時にはカンマは入力不要です．</p>

<%= form_tag(binary_number_exercises_2_path, :method => :post) do %>
  <%= text_field_tag(:answer, @answer, :size => @nbits) %>
  <%= hidden_field_tag(:nbits, @nbits) %>
  <%= submit_tag "解答する" %>
<% end %>
