<% content_for :title do -%>
  暗号技術に触れてみよう！
<% end -%>
<h1>暗号技術に触れてみよう！</h1>

<h2>概要</h2>

<p>暗号技術とは何か？Webアプリケーションを用いてコンピュータにおける情報の表現方法，暗号アルゴリズム (共通鍵暗号のみ) の動作などを体験してもらうことで，その概念に触れていただきます．本アプリケーションは文献[<a href="#ref_1">1</a>][<a href="#ref_2">2</a>]を参考に作成されています．</p>
<p>本アプリケーションは以下のような流れで暗号技術が体験できます．</p>

<ol>
  <li><a href="#binary_number">コンピュータでの情報の表現方法</a></li>
  <li><a href="#historical_cipher">歴史的な暗号アルゴリズム</a></li>
  <li><a href="#decipher_of_historical_cipher">歴史的暗号の解読</a></li>
  <li><a href="#one_time_pad">使い捨てパッド</a></li>
</ol>

「2進法」をすでに知っているという人は「歴史的な暗号アルゴリズム」からはじめていただいてもよいですし，いきなり最強の暗号「使い捨てパッド」に進んでいただいても良いかもしれません．また，時間が無い方は「コンピュータでの情報の表現方法」で「2進法」のみ学んでいただいても良いですし，「歴史的な暗号アルゴリズム」のみ触れていただいても良いかと思います．

<a name="binary_number"><h2>コンピュータでの情報の表現方法</h2></a>

<p>コンピュータ上では2進数という形式で情報が扱われています．皆さんが普段目にするアルファベットも，コンピュータ上では2進数で表されています．普段触れている文字を2進数で表現すると，なんだかよくわからない暗号文のように見えます．でも扱い方がわかると皆さんでも2進数を文字として読むことができます．情報の変換（符号化）の際に全ての変換方法が公開されていると，それは暗号にはなりません．ここではまず2進数の扱いについて学んでいただきます．</p>

<ol>
  <li><%= link_to '2進数（コンピュータ上での情報表現)', binary_number_path, :target => "_blank" %></li>
  <li><%= link_to '文字コード（ASCII Code) (コンピュータ上での文字表現）', ascii_code_path, :target => "_blank" %></li>
</ol>

<a name="historical_cipher"><h2>歴史的な暗号アルゴリズム</h2></a>

<p>全ての手順が公開された符号化は暗号ではないことを学びました．では，どうすれば暗号になるのでしょうか？文字の符号化 (アルファベットを2進数に対応づける) を図示すると以下のようになります．</p>

<div class="image">
  <%= image_tag asset_path('encode.png') %><br/>
  図1: 文字の符号化
</div>

<p>符号化の手順は全ての人が知っているので，復号化 (逆変換) ができるとすると，すべての人が復号化できることになります．</p>

<div class="image">
  <%= image_tag asset_path('decode.png') %><br/>
  図2: 文字の復号化
</div>

<p>暗号化 (元の文字 (平文) を読めない文 (暗号文) に変換する) の手順も同様にすべての人に公開されていますが，暗号化に用いる鍵は暗号化・復号化する人だけが知っています．</p>

<div class="image">
  <%= image_tag asset_path('encrypt.png') %><br/>
  図3: 文字の暗号化
</div>

<p>復号化 (逆変換) は，鍵を知っている人だけが行えます．</p>

<div class="image">
  <%= image_tag asset_path('decrypt.png') %><br/>
  図4: 文字の復号化
</div>

<p>このように，暗号化する人と，暗号文を読む人だけが「鍵」という秘密を共有することで，暗号化が実現できます．</p>

<p>今では使われなくなりましたが，歴史的な暗号に触れることで，鍵と暗号アルゴリズムの関係について学んでみましょう．</p>

<ol>
  <li><%= link_to 'シーザー暗号', caesar_cipher_path, :target => "_blank" %></li>
  <li><%= link_to '単一換字暗号', simple_substitution_cipher_path, :target => "_blank" %></li>
</ol>

<p>いかがでしょうか？古典暗号について理解していただけたでしょうか？現在使われている暗号も，「ずらす」「置き換える」といった操作を基本としてアルゴリズムが構成されています．鍵と置換操作の関係については，古典暗号と同様な仕組みが今でも用いられているというわけです．</p>

<a name="decipher_of_historical_cipher"><h2>歴史的暗号の解読</h2></a>

<p>歴史的暗号が使われなくなったのは，コンピュータを使うことで暗号解読の処理がより短時間で実現できるようになったからです．ここでは，最も単純で確実に暗号を解読出来る方法，「総当たり攻撃」について触れてみましょう．</p>


<ol>
  <li><%= link_to 'シーザー暗号への総当たり攻撃', caesar_cipher_brute_force_path, :target => "_blank" %></li>
  <li><%= link_to '単一換字暗号への総当たり攻撃', simple_substitution_cipher_brute_force_path, :target => "_blank" %></li>
</ol>

<a name="one_time_pad"><h2>使い捨てパッド</h2></a>

<p>「鍵」と「暗号アルゴリズム」について学んだので，後は最強の暗号を学ぶだけです．その前に最強の暗号を使いこなすために必要な「排他的論理和」について触れてみましょう．「排他的論理和」が理解できれば準備完了です．最強の暗号「使い捨てパッド」に触れてみてください．</p>

<ol>
  <li><%= link_to '排他的論理和', exclusive_or_path, :target => "_blank" %></li>
  <li><%= link_to '使い捨てパッド', one_time_pad_path, :target => "_blank" %></li>
</ol>


<h3>参考文献</h3>
<ol>
  <a name="ref_1"><li>結城 浩 (著), "新版暗号技術入門 秘密の国のアリス", ソフトバンククリエイティブ (2008)</li></a>
  <a name="ref_2"><li>Tim Bell/Ian H.Witten/Mike Fellows (著), Matt Powell (イラスト), 兼宗 進 (翻訳), "コンピュータを使わない情報教育アンプラグドコンピュータサイエンス", イーテキスト研究所 (2007)</li></a>
</ol>
