<% content_for :title do -%>
  シーザー暗号 演習問題
<% end -%>
<h1>シーザー暗号 演習問題</h1>

<h2>復号化（暗号文を平文に戻す）</h2>

次の暗号文

<div class="plain"><%= @encrypted %></div>

をシーザー暗号で復号化せよ．
ただし，鍵は

<div class="key"><%= @key %></div>

とする．

<%= form_tag(caesar_cipher_exercises_2_path, :method => :post) do %>
  <%= text_field_tag(:answer, @answer, :size => @plain.length) %>
  <%= hidden_field_tag(:key, @key) %>
  <%= submit_tag "解答する" %>
<% end %>
