<h1>使い捨てパッド 演習問題</h2>

<h2>復号化（暗号文を平文に戻す）</h2>

<div class="result"><%= @result %>です．</div>

<p class="answer">問題: 　　　　<%= @encrypted.join(", ") %></p>
<p class="answer">鍵: 　　　　　<%= @key_array.join(", ") %></p>
<p class="answer">２進数(平文): <%= @plain.join(", ") %></p>
<p class="answer">正解: 　　　　<%= session[:answer][:word] %></p>
<p class="answer">あなたの解答: <%= @user_answer %></p>

<%= link_to '違う問題にチャレンジ', one_time_pad_exercises_2_path(:key => @key) %>
